<!-- Jaspal Bainiwal -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h6 class="text-center text-white">Powered by Github and Google API</h6>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1">
            <a class='icons' target='blank' href="https://jobs.github.com/api">
                <i class="fab fa-github-alt fa-2x"style="color:white"></i>
            </a>
        </div>
        <div class="col-sm-1">
            <a class='icons' target ='blank' href="https://cloud.google.com/maps-platform/">
                <i class="fab fa-google fa-2x" style="color:white"></i>
            </a>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h6 class="text-center text-white">Created by Jaspal Bainiwal</h6>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>